.tab-wrapper {}

.tab-container {
  display: flex;
  flex-direction: column;
}

.tab-item {
  padding: 8px 0;
  cursor: pointer;
  color: #000000;
}

.tab-content {
  font-size: 17px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  white-space: break-spaces;
  line-height: 25px;
}


@media (max-width:768px) {
  

}