.cooper-wrapper{
  padding: 0 150px 40px;
  display: flex;
  flex-wrap: wrap;
}
.cooper-img{
  width: 170px;
  height: 70px;
}
@media (max-width:768px) {
  .cooper-wrapper{
    padding: 0 20px 10px;
  }
  .cooper-img{
    width: 68px;
    height: 28px;
  }
}