.tab-wrapper {
  padding: 0 150px;
  overflow-y: hidden;
  overflow-x: auto;
}

.tab-container {
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
}

.border-bottom{
  height: 1px;
  background: #D3DCE5;
  margin-top: -2px;
}

.tab-item {
  display: flex;
  align-items: center;
  color: #000000;
  padding: 0 20px 34px 24px;
  cursor: pointer;
}

.tab-icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.tab-content {
  font-size: 13px;
  font-family: Lato-Heavy;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 1px;
  min-width: 60px;
}
@media (max-width:768px) {
  .tab-wrapper {
    padding: 0 20px;
  }
  .tab-container{
    padding-top: 16px;
  }
  .tab-item{
    padding: 0 20px 16px 24px;
  }
}